* {
  box-sizing: content-box;
  font-family: Helvetica, Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

button {
  margin: 5px 10px;
  border: 2px solid black;
  height: 1.5rem;
  width: 7rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  filter: invert(100%);
}

.pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

thead {
  text-align: center;
  font-size: 1.25rem;
  background-color: black;
  color: white;
}

td {
  text-transform: capitalize;
  border: 1px solid black;
  padding: 1rem;
}
